.container {
     padding: 0 20px;
}

.logo {
    width: 300px;  /* Set the desired width */
    height: auto;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 20px;
}
.card-title {
    font-weight: bold;
}


